[submodule ".github"]
	path = .github
	url = https://gitee.com/fjh_03/Blender-Superskill.git
[submodule "game_src"]
	path = game_src
	url = https://gitee.com/fjh_03/source-engine-czero.git
[submodule "game_res"]
	path = game_res
	url = https://gitee.com/fjh_03/CSCZS_GameData.git
